<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Sign In</title>
  <title>Document</title>
</head>
<body>
    <%include ../partials/navbar %>
    <form method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputfirstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName" value="<%= data.firstName %>">
          </div>
          <div class="form-group col-md-6">
            <label for="inputlastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName" value="<%= data.lastName %>">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input disabled type="text" class="form-control" id="email" placeholder="email@email.com" name="email" value="<%= data.email %>">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="password" placeholder="password" name="password">
        </div>
          
        <button type="submit" class="btn btn-primary">Edit Profile</button>
        <h1 align = "center" > All Review</h1>  
        <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Where Apartment</th>
                  <th scope="col">Rating</th>
                  <th scope="col">Review</th>
                  <th scope="col">Evaluation</th>
                </tr>
              </thead>
              <tbody>
                <%data.Apartments.forEach(review => { %>
                  <tr>
                    <td><%= review.name %> </td>
                    <td><%= review.Review.rating%></td>
                    <td><%= review.Review.comment %></td>
                    <td><%= locals.analyzeIt(review.Review.comment) %></td>
                  </tr>
                <%}) %>
              </tbody>
            </table>
            
            
      </form>
      <% include ../partials/footer %>
</form>
</body>
</html>