<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <form method="POST">
    <table rules="rows" cellpadding="10">
      <tr>
        <th>Nama</th>
        <th>Lokasi</th>
        <th>No Telfon</th>
        <th>Harga</th>
        <th>Action</th>
      </tr>

      <% apartments.forEach(apt => { %>
        <tr>
          <td><%= apt.name %></td>
          <td><%= apt.location %></td>
          <td><%= apt.phone %></td>
          <td><%= apt.price %></td>
          <td><a href="apartment/edit/<%= apt.id %>">Edit</a> <a href="review/<%= apt.id %>">Review</a></td>          
        </tr>
      <% }) %>
    </table>
  </form>
</body>

</html>